@model UserModel

<div class="main">
	@await Component.InvokeAsync("Header")
	<section class="content-cards display">
		<div class="tickets dollar">
			<span class="ticket_figure"><i class="fa-solid fa-hand-holding-dollar"></i></span>
			<div class="ticket_header">
				<p>Carteira Total</p>
			</div>
			<span class="horizontal-line"></span>
			<div class="ticket_content">
				<p id="carteiraTotal"></p>
			</div>
		</div>
		<div class="tickets people">
			<span class="ticket_figure"><i class="fa-solid fa-people-group"></i></span>
			<div class="ticket_header">
				<p>Clientes Ativos</p>
			</div>
			<span class="horizontal-line"></span>
			<div class="ticket_content">
				<p id="clientesAtivos"></p>
			</div>
		</div>
		<div class="tickets arrow">
			<span class="ticket_figure"><i class="fa-solid fa-arrow-trend-up"></i></span>
			<div class="ticket_header">
				<p>Ticket Médio</p>
			</div>
			<span class="horizontal-line"></span>
			<div class="ticket_content">
				<p id="tktMedio"></p>
			</div>
		</div>
		<div class="tickets handshake">
			<span class="ticket_figure"><i class="fa-regular fa-handshake"></i></span>
			<div class="ticket_header">
				<p>Churns</p>
			</div>
			<span class="horizontal-line"></span>
			<div class="ticket_content">
				<p id="churns"></p>
			</div>
		</div>

	</section>

	<!-- Graphics -->
	<section class="content_graphics-cards">
		<article class="tickets">
			<div class="content_graphics-content">
				<p>Reuniões mês</p>
			</div>
			<div class="content_graphics-graphics">
				<canvas id="myChart"></canvas>
			</div>
		</article>
		<article class="tickets">
			<div class="content_graphics-content">
				<p>No Shows</p>
			</div>
			<div class="content_graphics-graphics">
				<canvas id="myChart2"></canvas>
			</div>
		</article>
		<!-- <article class="tickets">
			<div class="content_graphics-content">
				<p>teste</p>
			</div>
			<div class="content_graphics-graphics">
				<canvas id="myChart3"></canvas>
			</div>
		</article> -->

	</section>
	<section class="content_graphics-cards">
		<article class="tickets">
			<div class="content_graphics-content">
				<p>Reuniões mês</p>
			</div>
			<div class="content_graphics-graphics">
				<canvas id="myChart"></canvas>
			</div>
		</article>
		<article class="tickets">
			<div class="content_graphics-content">
				<p>No Shows</p>
			</div>
			<div class="content_graphics-graphics">
				<canvas id="myChart2"></canvas>
			</div>
		</article>
		<!-- <article class="tickets">
			<div class="content_graphics-content">
				<p>teste</p>
			</div>
			<div class="content_graphics-graphics">
				<canvas id="myChart3"></canvas>
			</div>
		</article> -->

	</section>
	<section class="content_graphics-cards">
		<article class="tickets">
			<div class="content_graphics-content">
				<p>Reuniões mês</p>
			</div>
			<div class="content_graphics-graphics">
				<canvas id="myChart"></canvas>
			</div>
		</article>
		<article class="tickets">
			<div class="content_graphics-content">
				<p>No Shows</p>
			</div>
			<div class="content_graphics-graphics">
				<canvas id="myChart2"></canvas>
			</div>
		</article>
		<!-- <article class="tickets">
			<div class="content_graphics-content">
				<p>teste</p>
			</div>
			<div class="content_graphics-graphics">
				<canvas id="myChart3"></canvas>
			</div>
		</article> -->

	</section>
	<section class="content_graphics-cards">
		<article class="tickets">
			<div class="content_graphics-content">
				<p>Reuniões mês</p>
			</div>
			<div class="content_graphics-graphics">
				<canvas id="myChart"></canvas>
			</div>
		</article>
		<article class="tickets">
			<div class="content_graphics-content">
				<p>No Shows</p>
			</div>
			<div class="content_graphics-graphics">
				<canvas id="myChart2"></canvas>
			</div>
		</article>
		<!-- <article class="tickets">
			<div class="content_graphics-content">
				<p>teste</p>
			</div>
			<div class="content_graphics-graphics">
				<canvas id="myChart3"></canvas>
			</div>
		</article> -->

	</section>
</div>
