<div class="main">
	@await Component.InvokeAsync("Header")
<h1>Bem Vindo!</h1>
	
</div>
<footer class="footer">
	<p> &copy; <a href="#">U.Code</a> development</p>
	<p class="footer_link">Visite nosso site <a href="#">U.code</a> </p>
</footer>