@model UserModel


<nav class="main_hero-nav">
	<h3>Ola! @Model.FirstName</h3>
	<div class="main_hero-navContent">
		<input class="main_hero-navContent-inputSearch" type="text" placeholder="Search" id="input_search">
		<span class="material-symbols-outlined">
			home
		</span>
		<span class="material-symbols-outlined">
			key
		</span>
		<span class="material-symbols-outlined">
			logout
		</span>
		<div class="avatar">
			<img src="/lib/Images/nah.jpg" alt="">
		</div>
	</div>
</nav>