@model UserViewModel


<nav class="main_hero-nav">
	<h3>Ola! @Model.User.FirstName</h3>
	<div class="main_hero-navContent">
		<input class="main_hero-navContent-inputSearch" type="text" placeholder="Search" id="input_search">
		<span class="material-symbols-outlined">
			home
		</span>
		<span class="material-symbols-outlined">
			<a id="keyBtn" class="keyBtn" asp-controller="User" asp-action="ChangePassword" asp-route-id="@Model.User.Id">key</a>
		</span>
		<span class="material-symbols-outlined">
			logout
		</span>
		
			@if (@Model.Image.Url != ""){
			<div class="avatar">
				<img src="@Model.Image.Url" alt="Avatar">
			</div>
			}
			else{
			<div class="avatar">
				<img src="/lib/Images/Avatar.png" style="background-color:white">
			</div>
			}
		
		
	</div>
</nav>