@model UserModel

<div class="main">
	@await Component.InvokeAsync("Header")
	<div class="form_container">
		<form asp-action="ChangePassword" asp-controller="User">
			<div class="form_container-row">
				<div class="form_container-lables">
					<label for="senhaAtual" class="">
						Senha atual:
					</label>
					<label for="novaSenha">
						Nova senha:
					</label>
					<label for="confirmarSenha">
						Confirmar nova senha:
					</label>
				</div>
				<div class="form_container-inputs">
					<input hidden value="@Model.Id" />
					<input type="text" id="senhaAtual" />
					<input type="text" id="novaSenha" />
					<input type="text" id="confirmarSenha" />
				</div>
			</div>
			<div class="form_container-buttons">
				<button asp-controller="Home" asp-action="Index" class="form_container-buttons_back">Voltar</button>
				<button type="submit" class="form_container-buttons_save">Salvar</button>
			</div>



		</form>
	</div>
</div>
<footer class="footer">
	<p> &copy; <a href="#">U.Code</a> development</p>
	<p class="footer_link">Visite nosso site <a href="#">U.code</a> </p>
</footer>