@model LoginModel
@{
	Layout = "_LayoutOffLine";
	ViewData["Title"] = "Cadastro";
}
@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger" role="alert">
		<button type="button" class="btn btn-danger btn-sm close-alert" arial-lable="Close" hidden>X</button>
		@TempData["ErrorMessage"]
	</div>

}
<div class="container">
	<div class="loginContainer">
		<div class="loginHeader">
			<div class="loginHeader_content">
				<h1>Registre-se já!</h1>
				<div class="loginHeader_icons">
					<i class="fa-brands fa-google"></i>
					<i class="fa-brands fa-instagram"></i>
					<i class="fa-brands fa-facebook"></i>
				</div>

			</div>
			
		</div>
		<div class="loginForm signForm">
			<form class="loginForm_content" asp-controller="Login" asp-action="Create" method="post">
				<label for="FirstName" class="grid1-2">
					<input type="text" value="" asp-for="User.FirstName" placeholder="Primeiro Nome">
				</label>
				<label for="LastName">
					<input type="text" value="" asp-for="User.LastName" placeholder="Sobrenome">
				</label>
				<label for="Email" class="grid_span2">
					<input type="email" value="" class="signEmail" asp-for="User.Email" placeholder="E-mail">
				</label>
				<label for="login">
					<input type="text" value="" asp-for="Login" placeholder="Login">
				</label>
				<label for="password">
					<input type="password" value="" asp-for="Password" id="inputPwd" placeholder="Senha">
				</label>
				<label for="backPage" class=" backButton">
					<a id="backPage" class="inputButton" asp-controller="Login" asp-action="Login">Voltar</a>
				</label>
				<label for="clear" class=" backButton">
					<button  class="inputButton" type="reset">Limpar</button>
				</label>
				<label for="submit" class="grid_span2">
					<input type="submit" value="Registrar-se" class="inputButton">
				</label>
				<p class="grid_span2">Seus dados estarão seguros conosco <a href="#">U.Code.</a></p>
			</form>
		</div>
	</div>
	<footer class="login_footer">
		<p>Development by &copy; <span>U.code</span></p>
	</footer>
</div>
<script src="~/js/sign.js"></script>


